* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#load-screen {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 25%;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 20px;
  color: #21ff00;
  background-color: #000000;
  z-index: 99;
}

#threejs-container {
  position: static;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
